/*
* http://www.betomarques.com/artigos/artigo_019.php
* http://www.w3c.br/pub/Cursos/CursoHTML5/html5-web.pdf - Muito bom
*/
body {
    font-size: 62.5%;
    line-height: 1.5em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #73879C;
    background-size:100%;
    margin:0;
    padding:0;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
img,picture,video,embed { max-width: 100%; }
form{display: inline-block;}
.conteudo{
  display:block;
  overflow-x:auto;  
}
.divShowModal{
  opacity:0.5;
  background-color:#ecf0f5;
  z-index:29;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  display:block;
}
.divTelaCheia{
  float:left;
  width:100%; 
}
.divTopoInicio{
  width:100%;
  height:5.2em;
  border-bottom:1px solid silver;
  padding:0.2em;
}
.divTopoInicio_logo{
  float:left;  
  padding: 3px;

}
.divTopoExcel{
  display:none;
  border:1px solid silver;
  float:left;
  height:5.4em;
  border-radius: 6px 6px 6px 6px;
}  
.center{left:0;right:0;margin-left:auto;margin-right:auto;}
.active{ display:block; }
.inactive{ display:none; }
.campotexto {
  position: relative;
  display: inline-block;
  float: left;
  min-height: 4.5em;  /* 50px */


}
.campo05 { width: 5%; }
.campo07 { width: 7.50%; }
.campo10 { width: 10%; }
.campo12 { width: 12.50%; }
.campo15 { width: 15%; }
.campo20 { width: 20%; }
.campo25 { width: 25%; }
.campo30 { width: 30%; }
.campo35 { width: 35%; }
.campo40 { width: 40%; }
.campo45 { width: 45%; }
.campo50 { width: 50%; }
.campo55 { width: 50%; }
.campo60 { width: 60%; }
.campo65 { width: 65%; }
.campo70 { width: 70%; }
.campo75 { width: 75%; }
.campo85 { width: 85%; }
.campo90 { width: 90%; }
.campo95 { width: 95%; }
.campo100 { width: 100%; }
.campo_input, 
.campo_input_titulo{
  outline: 0;
  border: 1px solid silver;
  height:42px;
  padding: 1em 0.5em 0.1em 0.5em;
  width: 100%;
  border-radius: 0px 0px 0px 8px;
}
.campo_input_combo{
  outline: 0;
  border: 1px solid silver;
  height:42px;
  padding: 1.31em 0.5em 0.5em;
  width: 100%;
  border-radius: 0px 0px 0px 8px;
  background-image: url("../imagens/down_arrow_select.jpg"); 
  background-position: 100% 00%; 
  background-size: 2.5em 100%;
  background-repeat: no-repeat,
        no-repeat,
        no-repeat;
 -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none; 
}
/* Para tirar a seta select no IE */
select::-ms-expand {
  display: none;
}
.campo_input_combo option:nth-child(even){
  background-color:#f2f2f2;
}
.campo_file{
  outline: 0;
  border: 1px solid silver;
  padding: 1.31em 0.5em 0.5em;
  width: 100%;
  border-radius: 0px 0px 0px 8px;
}
.campo_input,
.campo_file { 
  background: -webkit-gradient(linear, left top, left bottom,from(white),to(#f2f2f2));
}
.campo_input_titulo { 
  background: -webkit-gradient(linear, left top, left bottom,from(white),to(#E6F6F5));
}
.input {
  outline: 0;
  border: 1px solid #ccc;
}
.inputF10{
  outline: 0;
  border: 1px solid #ccc;
  padding-left:23px;     /* Largura da imagem possui 20px */
  padding-top:15px;       /* Só pra centralizar o texto verticalmente já que a altura da imagem é de 25px */
  background-image: url('../imagens/search_active.png');
  background-repeat:no-repeat;                     /* Para não repetir o background ao longo de topo o componente */
  background-position: 3px 15px;
}
.inputF10Titulo {
  outline: 0;
  border: 1px solid #ccc;
  padding-left:23px;     /* Largura da imagem possui 20px */
  padding-top:15px;       /* Só pra centralizar o texto verticalmente já que a altura da imagem é de 25px */
  background-image: url('../imagens/search_active.png');
  background-repeat:no-repeat;                     /* Para não repetir o background ao longo de topo o componente */
  background-position: 3px 15px;
  background: -webkit-gradient(linear, left top, left bottom,from(white),to(#E6F6F5));  
}
.input:focus {
  background-color: white;
  border-color: blue;
}
.input:focus ~ label {
  color: blue;
  font-weight:none;
}
.campo_required:after {
    content: "  \f084"; 
    font-family: FontAwesome;
    color:#3093c7;
}  
.campo_input_combo:focus {
  background-color: white;
  border-color: blue;
}
.campo_label {
  position: absolute;
  top: 0.1em;
  left: 0.5em;
  font-size:1.2em;
  color: #73879C;
}
.solicitadoFiltro{
  font-size:1.8em;  
  margin-left:1em;
}
.solicitadoFiltro:before {
    content: "  \f075  Solicitado filtro devido quantidade de registros"; 
    font-family: FontAwesome;
    color:#3093c7;
}  
.solicitadoFiltroOpc{
  font-size:1.8em;  
  margin-left:1em;
}
.solicitadoFiltroOpc:before {
    content: "  \f075  ";
    font-family: FontAwesome;
    color:#3093c7;
}  
/*
* INICIO
* PARA EXIBIR CAIXA DE ERRO E AJUDA
*/
.alertContainer{
   width:100%;
   height:100%;
   position:absolute;
}
.alertClose {
  background: #4682B4;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  z-index: 99999;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}
.alertClose:hover { background: #483D8B; }
.alertH2 { 
  color:#483D8B;
  text-align:center;
  border-bottom:1px solid silver;
  font-size:2em;
  padding-bottom:0.5em;
 }          
.alertP{
  color:#4682B4;
  font-size:18px; 
  font-weight: bold;   
  text-align:center;
}
.alertMensagem {
  width:100%;
  height:100%;
  margin: 1% auto;
  padding-top:10px;
  padding-left:10px;
  padding-right:10px;
  padding-bottom:10px;
  border-radius: 10px;
  background: -webkit-gradient(linear, left top, left bottom,from(white),to(#E6F6F5));
  background: -ms-linear-gradient(white, #E6F6F5);  
  -moz-box-shadow: 1px 1px 30px #000;
  -webkit-box-shadow: 1px 1px 30px #000;
  box-shadow: 1px 1px 30px #000;
}
/*
* FIM
* PARA EXIBIR CAIXA DE ERRO E AJUDA
*/
/*
* Classe para o box de ajuda
*/
.ajuda {position:relative;}
.ajuda p:first-child {margin-top:-1em;}
.ajuda p {text-align:justified;font-size:1.5em;line-height:1.5em;margin:0.5em;margin-left:1em;}
.ajuda table {font-size:1.2em;border-top:1px solid black;border-bottom:1px solid gray;margin-left:1em;}
.ajuda th {width:5em;text-align:left;}
.ajuda span {margin-left:1em;}
.ajudaUl {text-align:justified;font-size:1.5em;line-height:1.5em;margin:0.5em;margin-left:1em;}
/*
* Fim classe para o box de ajuda
*/
/***********************
* Estilos para grade Bis
***********************/
.colunaOculta{
  display:none;
}  
.linhaOculta{
  display:none;
}  
.divProcurar{
  border:1px solid #73879C;
  height:35px;
  padding-top:3px;
  padding-right:5px;
  border-radius: 6px 6px 0px 0px;
}
.divProcurar .divProcurarReg{
  float:left;
  text-align:left;  
  padding-top:0.4em;
  padding-left:0.4em;
  font-size:16px; 
  font-weight: bold;  
}  
.divProcurar .divProcurarLabel{
  float:left;
  text-align:right;  
  padding-top:0.7em;
  font-size:1.6em; 
  font-weight: bold;  
}  
.divProcurar .divProcurarInput{
  padding-top:0.4em;  
  float:right;
}
.divProcurar .divProcurarInput input{
  border:1px solid silver;
  height:28px;
  border-radius: 5px 5px 5px 5px;
  padding-left:3px;
  margin-right:3px;
  width:100%;
}
.divContainerTable{
  overflow-y:auto;
  overflow-x:auto;
  height:43em;
  border:1px solid #73879C;  
  background:white;
}
.fpTableHelp{
  border-spacing: 0px;
  width:100%;
}
.fpTableHelpBody{
  line-height: 1.5em;
}
.fpTableHelpTitulo{
  font-size:1.7em;
  font-weight:800;
  color:#1c5a85;  
  line-height:0.5em; 
  padding-top: 5px;    
  padding-bottom: 1px;  
} 
.fpTableHelpUl{
    display: block;
    list-style-type: square;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 20px;
}
.fpTableHelpLi{
  padding-bottom: 5px;  
} 
.fpTableHelpLiUltimo{
  padding-bottom: 1px;  
} 
.fpTableHelpLiUltimoB{
  padding-bottom: 1px;
  font-weight:800;  
} 
.fpTableHelpTexto{
  font-size:1.5em;
  text-align:justify;  
}
/* Fim */
.bisTable { 
    border-spacing: 0px;
    border-collapse: separate;
    width: 100%;
    font-family:verdana;
    font-size:1.2em;
}
.bisTable td {    
    margin: 0;
    padding: 2px;
    border-bottom:1px solid silver;
    border-left:1px solid silver; 
    max-width: 1px;    
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;    
}
.bisTable th {
    margin: 0;
    padding: 2px; 
    border-bottom:1px solid silver;
    border-left:1px solid silver;    
    color:#73879C;
}
.bisTable tr {
    margin: 0;
    padding: 2px;
    color:black;
    text-align:left;
}
.bisTable  tbody tr:hover{ 
  background: #E6F6F5;
}
.textoDireita{ text-align:right; }
.textoCentro{ text-align:center; }
.textoEsquerda{ text-align:left; }
/*
* edtDireita 2 casas decimas e 4 devido prototype formatar
*/
.edtDireita,
.edtDireitaQuatroDec{ text-align:right; padding-right:10px; }
.corGradeParCheck{background-color:aquamarine !important;}
.corGradeImparCheck{background-color:aquamarine !important;}
.corGradePar{background-color:white;height:1em;}
.corGradeImpar{background-color:#DCDCDC;height:1em;}
.corAlterado{ 
  background: -webkit-gradient(linear, left top, left bottom,from(white),to(#FF6347)); 
  background: -ms-linear-gradient(top,  white 0%,red 100%,white 50%);  
 }
.corFonteAlterado{ 
  color: red
 }
.corVermelho{ 
  background: -webkit-gradient(linear, left top, left bottom,from(white),to(#FF6347)); 
  background: -ms-linear-gradient(top,  white 0%,red 100%,white 50%);  
 }
 .corAviso{ 
  color:yellow;
  background:red;
 }
.fontAzul{ color: blue; } 
.fontVerde{ color: green; } 
.fontVermelho{ color: #FF0000; }
.corVerde{ background: -webkit-gradient(linear, left top, left bottom,from(white),to(#81F781)); }
.corAzul{ background: -webkit-gradient(linear, left top, left bottom,from(white),to(#6CA6CD)); }
.corTitulo{ background: -webkit-gradient(linear, left top, left bottom,from(white),to(#E6F6F5)); }
/**************************
* Fim stilos para grade Bis
**************************/
/*
*/
/*
 *  Font Awesome 4.6.3 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/fontawesome-webfont.eot?v=4.6.3');
  src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.6.3') format('embedded-opentype')
  , url('fonts/fontawesome-webfont.woff2?v=4.6.3') format('woff2')
  , url('fonts/fontawesome-webfont.woff?v=4.6.3') format('woff')
  , url('fonts/fontawesome-webfont.ttf?v=4.6.3') format('truetype')
  , url('fonts/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.fa {
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width:15px;
  padding-right:3px;
}
.fa18{
  font-size:1.8em;
  color:#4682B4;
  text-align:center;
}
.vermelho{ color:red;}
.azul{ color:blue; }
.cinza{ color:#1c5a85; }
.azulHelp{ 
  color:blue; 
  font-size:16px; 
  font-weight:900; 
}
.verde{ color:green; }
.amarelo{ color:yellow; }
.menu{
  float:right;
  padding-top:10px;
  font-size:20px;
}
.labelMensagem:before{
    content: "\f129 "; 
    font-family: FontAwesome;
    font-size:18px;
    color:#3093c7;
    padding-right:6px;
}

.labelMensagem {
  margin-left:1em;
  width:90%;
  color: #25729a;
  float: left;
  padding: 10px 0px 0px 0px;
  text-decoration: none;
  font-size: 15px;
  /*
  line-height: 1.42857143;
  color:#EE7621;
  */
}  
/*
* C:\xampp\htdocs\gentelella\production\fonts\css\font-awesome.css
*/
<i class="fa fa-angle-right"></i>

.fa-angle-down:before { content: "\f107"; }
.fa-angle-double-right:before { content: "\f101"; }
.fa-angle-right:before { content: "\f105"; }
.fa-arrow-left:before { content: "\f060"; }
.fa-arrow-right:before { content: "\f061"; }
.fa-arrow-up:before { content: "\f062"; }
.fa-arrow-down:before { content: "\f063"; }
.fa-bar-chart-o:before { content: "\f080"; }
.fa-bars:before { content: "\f0c9"; }
.fa-binoculars:before { content: "\f1e5"; }
.fa-bomb:before { content: "\f1e2"; }
.fa-bug:before { content: "\f188"; }
.fa-calendar:before {content: "\f073"; }
.fa-caret-down:before { content: "\f0d7"; }
.fa-caret-up:before { content: "\f0d8"; }
.fa-caret-left:before { content: "\f0d9"; }
.fa-caret-right:before { content: "\f0da"; }
.fa-check:before { content: "\f00c"; }
.fa-cloud-download:before { content: "\f0ed"; }
.fa-cloud-upload:before { content: "\f0ee"; }
.fa-circle:before { content: "\f111"; }
.fa-circle-o:before { content: "\f10c"; }
.fa-clone:before { content: "\f24d"; }
.fa-close:before{ content: "\f00d"; }
.fa-check:before { content: "\f00c";}
.fa-check-square-o:before { content: "\f046"; }
.fa-chevron-down:before { content: "\f078"; }
.fa-chevron-left:before {content: "\f053";}
.fa-chevron-right:before {content: "\f054";}
.fa-clock-o:before { content: "\f017"; }
.fa-code:before { content: "\f121"; }
.fa-cog:before { content: "\f013"; }
.fa-comment:before { content: "\f075"; }
.fa-comment-o:before { content: "\f0e5"; }
.fa-desktop:before { content: "\f108"; }
.fa-download:before { content: "\f019"; }
.fa-edit:before { content: "\f044"; }
.fa-envelope-o:before { content: "\f003"; }
.fa-eye-slash:before { content: "\f070"; }
.fa-file-excel-o:before { content: "\f1c3"; }
.fa-filter:before { content: "\f0b0"; }
.fa-floppy-o:before { content: "\f0c7";}
.fa-folder-o:before { content: "\f114"; }
.fa-folder-open:before { content: "\f07c"; }
.fa-folder-open-o:before { content: "\f115"; }
.fa-home:before { content: "\f015"; }
.fa-info:before { content: "\f129"; }
.fa-key:before { content: "\f084"; }
.fa-laptop:before { content: "\f109"; }
.fa-lightbulb-o:before {content: "\f0eb"; }
.fa-list-ol:before { content: "\f0cb"; }
.fa-list-ol:hover { color:blue; }
.fa-map-marker:before { content: "\f041"; }
.fa-minus:before { content: "\f068"; }
.fa-male:before { content: "\f183"; }
.fa-money:before { content: "\f0d6"; }
.fa-newspaper-o:before { content: "\f1ea"; }
.fa-paw:before { content: "\f1b0";}
.fa-pencil-square-o:before { content: "\f044"; }
.fa-pie-chart:before { content: "\f200"; }
.fa-phone-square:before { content: "\f098"; }
.fa-pie-chart:before { content: "\f200"; }
.fa-plus:before { content: "\f067"; }
/*.fa-plus:hover { color:blue; }*/
.fa-power-off:before { content: "\f011"; }
.fa-print:before { content: "\f02f"; }
.fa-question-circle:before { content: "\f059";}
.fa-question-circle:hover { color:blue; }
.fa-repeat:before { content: "\f01e"; }
.fa-reply:before { content: "\f112"; }
.fa-rotate-left:before{ content: "\f0e2"; }
.fa-save:before { content: "\f0c7"; }
.fa-search:before { content: "\f002"; }
.fa-share:before { content: "\f064"; }
.fa-shopping-cart:before { content: "\f07a"; }
.fa-sitemap:before { content: "\f0e8"; }
.fa-sliders:before { content: "\f1de"; }
.fa-sign-in:before { content: "\f090"; }
.fa-sign-out:before { content: "\f08b";}
.fa-sort-alpha-asc:before { content: "\f15d"; }
.fa-sort-amount-asc:before { content: "\f160"; }
.fa-sort-asc:before { content: "\f0de"; }
.fa-sort-desc:before { content: "\f0dd"; }
.fa-spinner:before { content: "\f110"; }
.fa-table:before { content: "\f0ce"; }
.fa-tasks:before { content: "\f0ae"; }
.fa-trash-o:before { content: "\f014"; }
.fa-thumbs-o-up:before { content: "\f087"; }
.fa-thumbs-o-down:before { content: "\f088"; }
.fa-toggle-down:before{ content: "\f150"; }
.fa-truck:before { content: "\f0d1"; }
.fa-upload:before { content: "\f093"; }
.fa-undo:before { content: "\f0e2"; }
.fa-user:before { content: "\f007";}
.fa-wifi:before { content: "\f1eb"; }
.fa-windows:before { content: "\f17a"; }
.fa-wrench:before { content: "\f0ad"; }
.fa-info-circle:before { content: "\f05a"; }
.fa-exclamation-circle:before { content: "\f06a"; }
/*
* FIM ICONES
*/
/********************************
* ESTILOS PARA GRAFICO E LEGENDAS
********************************/
#fork {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}
.legend {
  width: 140px;
  height:auto;
  padding:15px;
  border: 0px solid rgb(200, 200, 200);
}
.legend .title {
    display: block;
    margin-bottom: 0.5em;
    line-height: 1.2em;
    padding: 0 0.3em;
}
.legend .color-sample {
    display: block;
    float: left;
    width: 1em;
    height: 1em;
    border: 2px solid; /* Comment out if you don't want to show the fillColor */
    border-radius: 0.5em; /* Comment out if you prefer squarish samples */
    margin-right: 0.5em;
}
.campo25{
  color:#41458e;
}
/************************************
* FIM ESTILOS PARA GRAFICO E LEGENDAS
************************************/
/************************************
* INICIO TOOLTIP
************************************/
/*
.tooltip {position: relative;display: inline-block;}
.tooltip .tooltiptext {
  visibility: hidden;
  background-color: #167aae;
  color: #fff;
  text-align: center;
  padding: 12px 5px;
  position: fixed;
  z-index: 10;
  border-radius: 1rem;    
  font-size: 0.9rem; 
  text-align: center;  
  line-height: 1rem;  
  margin-left:2.5em;
  min-height: 2.7em;
}
.tooltip150{ width: 150px; } 
.tooltip180{ width: 180px; } 
.tooltip200{ width: 200px; } 
.tooltip250{ width: 250px; } 
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -8px;
    border-width: 8px;
    border-style: solid;
    border-color: transparent #167aae transparent transparent;
}
.tooltip:hover .tooltiptext {visibility: visible;}
*/
@media screen and (min-width: 1300px) {
};
@media (min-width: 1100px) and (max-width: 1299px) {
  /* A SOMA DESTAS TRES DIVs TEM QUE SER 100% */
  .divTopoInicio_logo{ width: 10%; }
  .divTopoInicio_Informacao{ width: 80%; }
  .label_Informacao { font-size:3em;}
}
@media (min-width: 900px) and (max-width: 1099px) {
  /* A SOMA DESTAS TRES DIVs TEM QUE SER 100% */
  .divTopoInicio_logo{ width: 13%; }
  .divTopoInicio_Informacao{ width: 80%; }
  .logoHome{ width: 7%; }
  .escondeA{display:none;}
}

@media (min-width: 700px) and (max-width: 899px) {
  /* A SOMA DESTAS TRES DIVs TEM QUE SER 100% */
  .divTopoInicio_logo{ display: none; }
  .label_Informacao { font-size:2em;}  
  .campo10 { width: 50%; }  
  .campo12 { width: 50%; }
  .campo15 { width: 50%; }
  .campo20 { width: 50%; }  
  .campo25 { width: 50%; }
  .campo30 { width: 50%; }  
  .campo35 { width: 50%; } 
  .campo40 { width: 50%; }
  .campo45 { width: 100%; }  
  .campo50 { width: 100%; }
  .campo55 { width: 100%; }  
  .campo60 { width: 100%; }
  .campo65 { width: 100%; }  
  .campo70 { width: 100%; }
  .campo75 { width: 100%; }
  .campo85 { width: 100%; }  
  .campo90 { width: 100%; }
  .campo95 { width: 100%; }
  .escondeA{display:none;}
  body{font-size:48%};
}
@media (min-width: 500px) and (max-width: 699px) {
  /* A SOMA DESTAS TRES DIVs TEM QUE SER 100% */
  .divTopoInicio_logo{ display: none; }
  .label_Informacao { font-size:2em;}    
  .campo10 { width: 100%; }  
  .campo12 { width: 100%; }
  .campo15 { width: 100%; }
  .campo20 { width: 100%; }  
  .campo25 { width: 100%; }
  .campo30 { width: 50%; }  
  .campo35 { width: 50%; }  
  .campo40 { width: 50%; }
  .campo45 { width: 100%; }    
  .campo50 { width: 100%; }
  .campo55 { width: 100%; }  
  .campo60 { width: 100%; }
  .campo65 { width: 100%; }  
  .campo70 { width: 100%; }
  .campo75 { width: 100%; }
  .campo85 { width: 100%; }    
  .campo90 { width: 100%; }
  .campo95 { width: 10%; }
  .escondeA{display:none;}  
  .escondeB{display:none;}
  .escondeC{display:none;}  
  body{font-size:35%;}
}
@media (max-width: 499px) {
  /* A SOMA DESTAS TRES DIVs TEM QUE SER 100% */
  .divTopoInicio_logo{ display: none; }
  .campo10 { width: 100%; }  
  .campo12 { width: 100%; }
  .campo15 { width: 100%; }
  .campo20 { width: 100%; }  
  .campo25 { width: 100%; }
  .campo30 { width: 100%; }  
  .campo35 { width: 100%; }
  .campo40 { width: 100%; }
  .campo45 { width: 100%; }    
  .campo50 { width: 100%; }
  .campo55 { width: 100%; }  
  .campo60 { width: 100%; }
  .campo65 { width: 100%; }  
  .campo70 { width: 100%; }
  .campo75 { width: 100%; }
  .campo85 { width: 100%; }    
  .campo90 { width: 100%; }
  .campo95 { width: 100%; }
  .campo100 { width: 100%; }
  .label_Informacao { font-size:1.5em;}    
}
/************************************
* Formulario para manutencao de table
************************************/
  .frmTable {
      width: 300px;
      padding: 10px;
      position: absolute;
      z-index:30;
      display:none;
      box-shadow: 
          0 0 1px rgba(0, 0, 0, 0.3), 
          0 3px 7px rgba(0, 0, 0, 0.3), 
          inset 0 1px rgba(255,255,255,1),
          inset 0 -3px 2px rgba(0,0,0,0.25);
      border-radius: 5px;
      background: white; /* Fallback */
      background: -moz-linear-gradient(#eeefef, #ffffff 10%);
      background: -ms-linear-gradient(#eeefef, #ffffff 10%);
      background: -o-linear-gradient(#eeefef, #ffffff 10%);
      background: -webkit-gradient(linear, 0 0, 0 100%, from(#eeefef), color-stop(0.1, #ffffff));
      background: -webkit-linear-gradient(#eeefef, #ffffff 10%);
      background: linear-gradient(#eeefef, #ffffff 10%);
  }
  .frmTable .frmCampoTit .informe{
    font-size:2em;
    padding:0em 0em 0em 1em;
    font-weight:900;        
    width: 100%;
    line-height: 42px;
    color:white;
    text-align:left;
    background-image:linear-gradient(45deg, 
      #1c5a85 10%, transparent 85%,
      #4682B4 75%, transparent 10%,
      #1c5a85 95%); 
  }
  .frmTituloManutencao{
    font-family: FontAwesome;
    font-size:2em;
    padding:0em 0em 0em 1em;
    font-weight:900;        
    width: 100%;
    line-height: 42px;
    color:white;
    text-align:left;
    margin-bottom: 0.2em;
    border-radius: 5px;
    background-image:linear-gradient(45deg, 
      #1c5a85 10%, transparent 85%,
      #4682B4 75%, transparent 10%,
      #1c5a85 95%); 
  }
  .frmTituloManutencaoImg{
    width:20px;
    height:20px;
    float:right;
    margin-top:12px;
    margin-right:10px;    
  }  
/*********************************************
* Formulario sem ser os de manutenção de table
*********************************************/
  .formulario {
      width: 300px;
      padding: 10px;
      position: absolute;
      box-shadow: 
          0 0 1px rgba(0, 0, 0, 0.3), 
          0 3px 7px rgba(0, 0, 0, 0.3), 
          inset 0 1px rgba(255,255,255,1),
          inset 0 -3px 2px rgba(0,0,0,0.25);
      border-radius: 5px;
      background: white; /* Fallback */
      background: -moz-linear-gradient(#eeefef, #ffffff 10%);
      background: -ms-linear-gradient(#eeefef, #ffffff 10%);
      background: -o-linear-gradient(#eeefef, #ffffff 10%);
      background: -webkit-gradient(linear, 0 0, 0 100%, from(#eeefef), color-stop(0.1, #ffffff));
      background: -webkit-linear-gradient(#eeefef, #ffffff 10%);
      background: linear-gradient(#eeefef, #ffffff 10%);
  }
  .formulario .frmCampo { position: relative; }
  .formulario .frmCampo .informe {
    background-color:#ecf0f5;
    font-size:2em;
    padding-right:3em;
    font-weight:900;        
    text-align:center;        
  }
  .formulario .frmCampo i {
    left: 0px;
    top: 0px;
    position: absolute;
    height: 36px;
    width: 36px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 1px 0 0 rgba(255, 255, 255, 0.7);
    color: #777777;
    text-align: center;
    line-height: 42px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    pointer-events: none;
  }
  .formulario .frmCampoTit .informe{
    font-size:2em;
    padding-right:3em;
    font-weight:900;        
    text-align:center;        
    background-image:linear-gradient(45deg, 
      #1c5a85 10%, transparent 85%,
      #4682B4 75%, transparent 10%,
      #1c5a85 95%);  
  }
  .formulario input[type=text],
  .formulario input[type=password] {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    text-shadow: 0 1px 0 rgba(255,255,255,0.8);
    width: 100%;
    padding: 10px 18px 10px 40px;
    border: none;
    box-shadow: 
        inset 0 0 5px rgba(0,0,0,0.1),
        inset 0 3px 2px rgba(0,0,0,0.1);
    border-radius: 3px;
    background: #f9f9f9;
    color: #777;
    -webkit-transition: color 0.3s ease-out;
    -moz-transition: color 0.3s ease-out;
    -ms-transition: color 0.3s ease-out;
    -o-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
  }
  /*
  * Altera cor do .fa no hover
  */
  .formulario input[type=text]:hover ~ i,
  .formulario input[type=password]:hover ~ i {
      color: #52cfeb;
  }
  /*
  * Altera cor do .fa quando text recebe foco
  */
  .formulario input[type=text]:focus ~ i,
  .formulario input[type=password]:focus ~ i {
      color: #42A2BC;
  }
  .formulario .botSupDir,
  .formulario .botSupEsq{
      width: 65px;
      height: 65px;
      position: absolute;
      top: -10px;
      padding: 10px;
      z-index: 2;
      background: #ffffff;
      border-radius: 50%;
      box-shadow: 
          0 0 2px rgba(0,0,0,0.1),
          0 3px 2px rgba(0,0,0,0.1),
          inset 0 -3px 2px rgba(0,0,0,0.2);
  }
  .formulario .botSupDir{ right: -25px; }
  .formulario .botSupEsq{ left: -30px; }
  .formulario .botSupDir:after, 
  .formulario .botSupEsq:after{
      content: "";
      width: 10px;
      height: 10px;
      position: absolute;
      top: -2px;
      left: 30px;
      box-shadow: 0 62px white, 0 0 white;
  }
  .formulario button {
      width: 100%;
      height: 100%;
      margin-top: -1px;
      font-size: 1.4em;
      line-height: 1.75;
      color: white;
      outline:none;
      border: none;
      border-radius: inherit;
      background: -moz-linear-gradient(#52cfeb, #42A2BC);
      background: -ms-linear-gradient(#52cfeb, #42A2BC);
      background: -o-linear-gradient(#52cfeb, #42A2BC);
      background: -webkit-gradient(linear, 0 0, 0 100%, from(#52cfeb), to(#42A2BC));
      background: -webkit-linear-gradient(#52cfeb, #42A2BC);
      background: linear-gradient(#52cfeb, #42A2BC);
      box-shadow: 
          inset 0 1px 0 rgba(255,255,255,0.3),
          0 1px 2px rgba(0,0,0,0.35),
          inset 0 3px 2px rgba(255,255,255,0.2),
          inset 0 -3px 2px rgba(0,0,0,0.1);
      cursor: pointer;
  }
  .formulario .botSupDir  button { background: #52cfeb; }
  .formulario .botSupEsq  button { background: #eb5289; }
  .formulario .esq:hover,    
  .formulario button[type=botSupEsq]:focus{
    color: #eb5289;
    background: white;
      -webkit-transition: all 0.3s ease-out;
      -moz-transition: all 0.3s ease-out;
      -ms-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;
  }
  .formulario .dir:hover,    
  .formulario button[type=botSupDir]:focus{
    color: #52cfeb;
    background: white;
    -webkit-transition: all 0.3s ease-out;
      -moz-transition: all 0.3s ease-out;
      -ms-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;
  }
  .icon-large:before {
    vertical-align: top;
    font-size: 2em;
  }
  .faIL:before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    margin-top: -0.12em;
  }
/* Fim do formulario */
/***********************************
* Menu principal e opções para table
* #3c8dbc esta azul
* #9ca3da
* #FFE4B5 pastel
* #FF8C00
* #ffa600
* #F58634
***********************************/
.menuSmall {
    margin-top:1px;
    margin-bottom:1px;
    float: right;
}
.menuSmall li {
    display: inline-block;
    position: relative;   
}
.menuImagem{ margin-right:0.5em; }
.subMenuImagem{
  margin-right:0.5em;
  color:#73879C;
}
.menuSmall li a {
    font-weight: 600;
    text-decoration: none;
    padding: 10px 10px;
    display: block;
    color: #41458e;
    transition: all 0.2s ease-in-out 0s;   
}
.menuSmall li:hover>button {
  color: black;
}
.menuSmall li:hover>a {
  color: #000000;
  background-color: #DCDCDC;
}
.menuSmall li:hover>ul {
    display: block;
    opacity: 1;
    transform: translate(0,0);
}
.sub-menuSmall{
    display: none;
    opacity: 0;
    margin: 0;
    padding: 0;
    padding-bottom:5px;
    position: absolute;
    left: 0px;
    z-index: 99;
    transform: translate(0,20px);
    transition: all 0.2s ease-out;
    border:1px #25729a solid;
    box-shadow:1px 1px #25729a;
}
#option-table{
  background-color: #3c8dbc;
}
/*
* Desenha a seta quando se abre o menu
*/
/*.sub-menuSmall:after {
    bottom: 100%;
    left: 20%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 6px;
    margin-left: -6px;
}*/
.sub-menuSmall li {
    display: block;
    float: none;
    background: none;
    margin: 0;
    padding: 0;
    width:100%;
    height:2em;
    font-size:15px;        
}
.sub-menuSmall li a {
    font-weight: normal;
    display: block;
    color: #797979;
    background: #fff;
}
.sub-menuSmall ul {
    top: 0px;
    display: none;
    opacity: 0;
    transform: translate(20px,20px);
    transition: all 0.2s ease-out;
}
.sub-menuSmall ul:after {
    left: -6px;
    top: 1em;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    border-right-color: #fff;
    border-width: 6px;
    margin-top: -6px;
}
/**************************
* Botao com imagem superior
**************************/
.divBotaoImagemSup{
  position:relative;
  float:right;
}  
.botaoImagemSup-icon-big {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  margin-right: 4px;
}
.botaoImagemSup-icon-big:focus,
.botaoImagemSup-icon-big.focus {
  color: #fff;
  background-color: #286090;
  border-color: #122b40;
}
.botaoImagemSup-icon-big:hover {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}
.botaoImagemSup-icon-big:active,
.botaoImagemSup-icon-big.active,
.open > .dropdown-toggle.botaoImagemSup-icon-big {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}
.botaoImagemSup-icon-big:active:hover,
.botaoImagemSup-icon-big.active:hover,
.open > .dropdown-toggle.botaoImagemSup-icon-big:hover,
.botaoImagemSup-icon-big:active:focus,
.botaoImagemSup-icon-big.active:focus,
.open > .dropdown-toggle.botaoImagemSup-icon-big:focus,
.botaoImagemSup-icon-big:active.focus,
.botaoImagemSup-icon-big.active.focus,
.open > .dropdown-toggle.botaoImagemSup-icon-big.focus {
  color: #fff;
  background-color: #204d74;
  border-color: #122b40;
}
.botaoImagemSup-icon-big:active,
.botaoImagemSup-icon-big.active,
.open > .dropdown-toggle.botaoImagemSup-icon-big {
  background-image: none;
}
.botaoImagemSup-icon-big.disabled:hover,
.botaoImagemSup-icon-big[disabled]:hover,
fieldset[disabled] .botaoImagemSup-icon-big:hover,
.botaoImagemSup-icon-big.disabled:focus,
.botaoImagemSup-icon-big[disabled]:focus,a
fieldset[disabled] .botaoImagemSup-icon-big:focus,
.botaoImagemSup-icon-big.disabled.focus,
.botaoImagemSup-icon-bigy[disabled].focus,
fieldset[disabled] .botaoImagemSup-icon-big.focus {
  background-color: #337ab7;
  border-color: #2e6da4;
}
.botaoImagemSup-icon-big .badge {
  color: #337ab7;
  background-color: #fff;
}
#horCadastrar{
  background-color: #28a745;
  border-color: #28a745;
}
#horAlterar{
  background-color: #ffc107;
  border-color: #ffc107;
  
}
#horExcluir{
  background-color: #bd2130;
  border-color: #bd2130;
  
}
#horExcel{
  background-color: #117a8b;
  border-color: #117a8b;
  
}
#horImprimir{
background-color: #0062cc;
border-color: #0062cc;
}

#horAcompanhamento{
  background-color: #2e6eb6;
  border-color: #1349bd;
}
/**************************
* Botao com imagem esquerda
**************************/
.btnImagemEsq{
  background-color: #f2f2f2;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-right: 1px;
  white-space: initial; 
  box-shadow: inset 2px 2px 0px rgba(0,0,0,0.125);
  border: 1px solid #B0C4DE;
  border-radius: 6px 6px 6px 6px;
  text-align: center;
  font-size: 12px;
  min-width: 8em;
}
.btnImagemEsq > i {
  width: 100%;
  font-size: 1.5em;
}
.btnImagemEsq:hover{
  border: 1px solid #aaa; 
  background-color: #BEBEBE;
  box-shadow: inset 0px 0px 0px rgba(0,0,0,0.125);
}
.bieRight{ float:right; }
.bie08{ width:8%; }
.bie10{ width:10%; }
.bie12{ width:12%; }
.bie15{ width:15%; }
.bie18{ width:18%; }
.bie20{ width:20%; }
.bie30{ width:30%; }
.bie40{ width:40%; }
.bie50{ width:50%; }
.bie100{ width:100%; }
.bieRed{ color:red; }
.bieAzul{ color:#25729a; }
.bieMarrom{ color:#8B8378; }
/**************************
* Botao com imagem esquerda
**************************/
.divBotaoImagemEsq{
  width:10%;
  position:relative;
  float:left;
}  
.bieRed{
  color:red;
}
.bieAzul{
  color:#25729a;
}
.botaoImagemEsq-icon-big{
  color:#25729a;
  background-color: white;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-right: 1px;
  white-space: initial; 
  box-shadow: inset 2px 2px 0px rgba(0,0,0,0.125);
  border: 1px solid #B0C4DE;
  border-radius: 6px 6px 6px 6px;
  text-align: center;
  font-size: 12px;
  min-width: 8em;
}
.botaoImagemEsq-icon-big > i {
  width: 100%;
  font-size: 1.5em;
}

.botaoImagemEsq-icon-big:hover{
  border: 1px solid #aaa; 
  background-color: #BEBEBE;
  box-shadow: inset 0px 0px 0px rgba(0,0,0,0.125);
}
/********************************
* ind eh para tables full no form
********************************/
.indTopoInicio{
  height:5.2em;
  border-bottom:1px solid silver;
  padding:0.2em;
  background-color: #ecf0f5;
}
.indTopoInicio100{
  width:100%;
}
.indTopoInicio80{
  width:80%;
}
.indTopoInicio70{
  width:70%;
}
.indTopoInicio_logo{
  float:left;  
  width: 3%;   
  height: 100%; 
  padding: 1em 1em 1em 1em;
  background-image: url('../imagens/steemit.png');
  background-size: 100% 100%;
  cursor:pointer;
}
.indLabel {
  margin-left:1em;
  width:7%;
  text-align: center;
  color: #333333;
  border-right: 1px solid #d2d6de;
  float: left;
  padding: 15px 15px 15px 15px;
  text-decoration: none;
  font-size: 15px;
  line-height: 1.42857143;
  color:#EE7621;
}  
.indBotao{
  margin-top: 5px;
  margin-right: 10px;
  padding: 10px 10px 2px 2px;
  float: right;        
  background-color: #e6e6e6;
  border: 1px solid #adadad;
  border-radius: 8px;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  text-decoration:none;
  white-space: nowrap;
  cursor: pointer;
}
.indBotao:active{
  outline: none;
  border: none;        
}  
.indBotao:focus{
  outline: none;
}  
.indBotaoClick{
  margin-top: 3px;
  margin-right: 16px;
  padding: 10px 9px 9px 5px;        
}
.indBotaoClick100x40{
  width: 100px;
  height: 40px;
}
.indBotao:hover {
  color: black;
  background-color: #f4f4f4;
}
.indMasterBarraLateral {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 50px;
  min-height: 100%;
  width: 4%;
  border-right:1px solid silver;
  -webkit-transition: -webkit-transform 0.3s ease-in-out, width 0.3s ease-in-out;
  -moz-transition: -moz-transform 0.3s ease-in-out, width 0.3s ease-in-out;
  -o-transition: -o-transform 0.3s ease-in-out, width 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
}
.indBarraLateral {
  padding-bottom: 10px;
}
.divBarraLateral{
  border-radius: 8px;  
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 40px;
  padding: 10px 0px 0px 0px;
  float: right;        
  border-bottom: 0.1em solid #adadad;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  text-decoration:none;
  white-space: nowrap;
  cursor: pointer;
}
.primeiro{
  margin-top: 2px;  
}
.divBarraLateral:hover{
  background-color:white;
}  
.indFa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size:18px;
}
.indDivInforme {
  position:relative;
  padding-left:0.5em;
  float:left;
  display:block;
  overflow-x:auto;
  width:70%;
  height:5em;
}
/********************************
* fp=Formulario padrão
********************************/
.fpTable{
  border-spacing: 0;
  border-collapse: collapse;
  font-size: 12px;
  min-height: .01%;
  overflow-x: auto;
  margin-bottom: 20px;
  border: 1px solid #ddd;
}
.fpTable th{
  color:#41458e;
  background-color: #c0c0c0;
  width: 100%;
}

.fpTable th:hover{
  background: #DCDCDC;  
  color:black;
  cursor: pointer; 
}

.fpTable td{
  max-width: 1px;      
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;  
}
.fpTable > thead > tr > th,
.fpTable > tbody > tr > th,
.fpTable > tfoot > tr > th,
.fpTable > thead > tr > td,
.fpTable > tbody > tr > td,
.fpTable > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
  border: 1px solid #ddd;
}
.fpTable > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}
.fpTable > caption + thead > tr:first-child > th,
.fpTable > colgroup + thead > tr:first-child > th,
.fpTable > thead:first-child > tr:first-child > th,
.fpTable > caption + thead > tr:first-child > td,
.fpTable > colgroup + thead > tr:first-child > td,
.fpTable > thead:first-child > tr:first-child > td {
  border-top: 0;
}
.fpTable > tbody + tbody {
  border-top: 2px solid #ddd;
}

.fpTable > thead > tr > th,
.fpTable > thead > tr > td {
  border-bottom-width: 2px;
}
.fpTable > tbody > tr:nth-of-type(even) {
  background-color: #f0eaea;
}
.divSobreTable {
  position:relative;
  float:left;
  display:block;
  overflow-x:auto;
  height:5em;
  border:1px solid silver;
  border-radius: 30px 30px 30px 30px;
  background-color:white;        
}
div.custom_file_upload {
  margin: 6px auto;
}
input.file {
  width: 15em;
  height: 2.65em;
  border: 1px solid #BBB;
  border-right: 0;
  color: #888;
  padding: 5px;
}
div.file_upload {
  width: 8em;
  height: 2.9em;
  background: #25729a;
  display: inline;
  position: absolute;
  overflow: hidden;
  cursor: pointer;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-weight: bold;
  color: #FFF;
  text-align: center;
  padding-top: 8px;
}
div.file_upload:before {
  content: '.XML';
  position: absolute;
  left: 0; 
  right: 0;
  text-align: center;
  cursor: pointer;
  padding-top:3px;
}
div.file_upload input {
  position: relative;
  height: 30px;
  display: inline;
  cursor: pointer;
  opacity: 0;
}
.teEsquerda {
    float: left;
    height: 40px;
    border-left: 2px solid #ADB2B5;
    margin-top: 5px;
    margin-left:1em;
    margin-right:1em;
}
.divAzul{
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #d2d6de;
  border-right: 1px solid #d2d6de;
  border-left: 1px solid #d2d6de;
  border-radius: 8px 8px 8px 8px;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #d2d6de;
  height:70%;
  padding-left:1em;
  padding-right:1em;
}

/* Alterações no CSS angelo */

.im-here-nav{
  font-size: 18px;
  color: #378ecc;
  margin-left: 25px;
  padding-top: 10px;
  font-weight: bolder;
}

/*
bootstrap nativo para javascript
*/
/*
.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #777;
  border-radius: 10px;
}
.badge:empty {
  display: none;
}
.close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=50);
  opacity: .5;
}
button.close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
}

.fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
       -o-transition: opacity .15s linear;
          transition: opacity .15s linear;
}
.fade.in {
  opacity: 1;
}
.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1060;
  display: none;
  max-width: 276px;
  padding: 1px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: normal;
  background-color: #fff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, .2);

  line-break: auto;
}
.popover.top {
  margin-top: -10px;
}
.popover.right {
  margin-left: 10px;
}
.popover.bottom {
  margin-top: 10px;
}
.popover.left {
  margin-left: -10px;
}
.popover-title {
  padding: 8px 14px;
  margin: 0;
  font-size: 14px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-radius: 5px 5px 0 0;
}
.popover-content {
  padding: 9px 14px;
}
.popover > .arrow,
.popover > .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.popover > .arrow {
  border-width: 11px;
}
.popover > .arrow:after {
  content: "";
  border-width: 10px;
}
.popover.top > .arrow {
  bottom: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-color: #999;
  border-top-color: rgba(0, 0, 0, .25);
  border-bottom-width: 0;
}
.popover.top > .arrow:after {
  bottom: 1px;
  margin-left: -10px;
  content: " ";
  border-top-color: #fff;
  border-bottom-width: 0;
}
.popover.right > .arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-right-color: #999;
  border-right-color: rgba(0, 0, 0, .25);
  border-left-width: 0;
}
.popover.right > .arrow:after {
  bottom: -10px;
  left: 1px;
  content: " ";
  border-right-color: #fff;
  border-left-width: 0;
}
.popover.bottom > .arrow {
  top: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-width: 0;
  border-bottom-color: #999;
  border-bottom-color: rgba(0, 0, 0, .25);
}
.popover.bottom > .arrow:after {
  top: 1px;
  margin-left: -10px;
  content: " ";
  border-top-width: 0;
  border-bottom-color: #fff;
}
.popover.left > .arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-right-width: 0;
  border-left-color: #999;
  border-left-color: rgba(0, 0, 0, .25);
}
.popover.left > .arrow:after {
  right: 1px;
  bottom: -10px;
  content: " ";
  border-right-width: 0;
  border-left-color: #fff;
}
*/



/*
* Estes tirados de um arquivo css ( cssFaTable.css naum vi utilizacao )
.iconTable-large:before {
    vertical-align: top;
    font-size: 4em;
  }
.faTable:before {
  vertical-align: top;
  font-family: FontAwesome;
  font-style: normal;   
  color:white;
  margin-left:0.4em;
}
*/
/*
.divTopoInicio_Informacao{
  float:left;
  width: 70%;
  height:100%;
  border-bottom:1px solid silver; 
  padding-top:0.1em !important;
}  
.fieldS{
  padding:15px;
  background-color: white ;
  border-width:2px;  
  border-radius: 6px 6px 6px 6px;
  box-shadow: 0.4em 0.4em 0.08em #ccc;
}
.fieldSLeg{
  font-size: 1.4em;
  font-weight: 600;
  padding-left:1.5em;
  padding-top:0.6em;
  background-color: silver ;
  box-shadow: 3px 3px 3px #999;
  height: 1.7em; 
  border-radius: 6px 6px 1px 1px;
  width:2em;
  border-width:1px;  
  margin-left:-0.5em;
  color: #FFFFFF; 
  background-color: #3093c7;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(70%, #3093c7), color-stop(100%, #1c5a85));
  background-image: -moz-linear-gradient(top, #3093c7, #1c5a85);
  background-image: -ms-linear-gradient(top, #3093c7, #1c5a85);
  background-image: -o-linear-gradient(top, #3093c7, #1c5a85);
  background-image: linear-gradient(top, #3093c7, #1c5a85);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#3093c7, endColorstr=#1c5a85);
  height:2.2em;
}
.fieldSLeg:before   { 
  font-family: FontAwesome;
  font-size:1em
}  
.label_Informacao {
  width:100%;
  margin-top:0.5em;
  text-align:center;  
  font-size:3em;
  color:white;
  font-family:heather;
}
.label_Informacao:after{
  content: attr(data-name);
}
  .label_Informacao { font-size:3em;}
  .label_Informacao { font-size:2.5em;}  
  .label_Informacao { font-size:2em;}    
  .label_Informacao { font-size:2em;}      
  .label_Informacao { font-size:1.5em;}      
.divRodapeInicio{
  width:100%;
  height:5%;
  background-color: navy;
  bottom:0;
  position:fixed;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  font-weight: 400;
  text-shadow: 1px 2px 0 black;
  background-image:-moz-linear-gradient(45deg, 
    #1c5a85 10%, transparent 85%,
    #4682B4 75%, transparent 10%,
    #1c5a85 95%);  
  background-image:-ms-linear-gradient(45deg, 
    #2E9AFE 10%, transparent 85%,
    #4682B4 75%, transparent 10%,
    #2E9AFE 95%);    
}
.label_Rodape {
  width:100%;
  margin-top:0.5em;
  text-align:center;  
  font-size:1.2em;
  color:#8B8682;
}
.campotextoNew {
  position: relative;
  display: inline-block;
  float: left;
  min-height: 3em;
  font-size:1em;
}
.campo_input_imagem {
  border: 1px solid silver;
  height:42px;
  padding-left:2.0em;
  padding-top:0.2em;
  width: 100%;
  font-size:3em;
  border-radius: 0px 0px 0px 8px;
  background: -webkit-gradient(linear, left top, left bottom,from(white),to(#E6F6F5));
}


.campo_input_imagemHelpCad {
  padding-left:0.6em;
  padding-top:0.2em;
  padding-bottom: 0.2em;
  width: 50%;
  float:left;
  font-size:3em;  
  border-radius: 0px 0px 0px 8px;
  border: 1px solid #ccc !important;
}
.campo_label_center {
  position: absolute;
  top: 0.1em;
  left: 0.5em;
  font-size:1.2em;
  color: #73879C;
  width:100%;
  text-align:center;
}
.campo_labelNew {
  position: absolute;
  top: 0.1em;
  left: 0.5em;
  font-size:1.2em;
  color: #73879C;
  }

.campo_labelSombra{
  font-size:1.4em;
  font-style: oblique;
  letter-spacing: 2px; 
}
.campo_label_imagem {
  position: absolute;
  top: 1px;
  left: 10px;
  font-size: 12px;
  color: #73879C;
}
.botaoBis {
    width: 100%;
    box-sizing: border-box;
    display: inline-block;
    padding: 0.5em 1em;
    text-align: center;
    cursor: hand;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #B0BED9), color-stop(100%, #dcdcdc));
    background: -o-linear-gradient(top, white 0%, #dcdcdc 100%);
    border: 1px solid black;
    border-radius: 4px; 
    font-size: 14px;  
    font-family: verdana;
}
.botaoBis:hover {
  color: blue;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dcdcdc), color-stop(100%, #B0BED9));
} 
.moContainer{
  list-style:none;
  border-radius: 6px 6px 0px 0px  !important; 
  margin:0; 
  width:100%;
  margin:0 auto;
  margin-top:0.6em;
  font-family:arial, sans-serif;
  font-weight:normal;
  font-size:14px;
  line-height: 1;
  background-color:white;
  padding-left:0;
}
.moTituloMenu{ 
  padding:10px; 
  border-radius: 6px 6px 0px 0px;
  box-shadow: 
      inset 0 0 5px rgba(0,0,0,0.2),
      inset 0 3px 2px rgba(0,0,0,0.2);
}
.moTituloMenu a{ text-decoration: none;color:#48515c; }
.moTituloMenu ul{ display: none; margin-top:10px;padding-left:0.3em;}

.moTituloMenu a:hover{ color:blue; }

.moItemMenu{
  border:1px solid #878e98;    
  border-radius: 0px 5px 5px 0px;
  -webkit-box-shadow: 2px 2px 18px #999 inset;
  -moz-box-shadow: 2px 2px 18px #999 inset; 
  box-shadow: 2px 2px 10px #999 inset;
  padding:0.8em;
  background-color:#EEE9E9;
  
        background-image:linear-gradient(90deg, 
          silver 1.5em, transparent 2.5em,
          white 100%);  
}
.moItemMenu:hover{ 
  background-color:#E6F6F5; 
}
.moQtosItens{
  display:inline;
  float:right;
  background:#E6F6F5;
  color:black;
  border:1px solid #3c434c;
  border-bottom:1px solid #707781;
  padding:4px 6px;
  font-size:12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: inset 0 0 10px #111;
  -webkit-box-shadow: inset 0 0 10px #E6F6F5;
  box-shadow: inner 0 0 10px #111;
  position:relative;
  margin-top: -4px;
}
@keyframes show {
  0% {display: none; opacity: 0;}
  1% {display: block;}
  100% {display: block; opacity: 1; z-index:9999;}
}

@keyframes hide {
  0% {display: block; opacity: 1;}
  99% {display: none;}
  100% {display: none;opacity: 0; z-index:0; }
}    

.escTituloMenu{
  clear:both;
  list-style:none;
  list-style-type:none;
  position:absolute;
  float:left;
  height: 2.5em;
  width: 100px;
  box-shadow:1px 1px 1px 1px;
  margin:0;
  padding-top:10px;        
  padding-left:8px;        
  text-align:left;
  background-color: white;
  cursor: hand;
}
.escTituloMenu a { text-decoration: none; color:#48515c; }
.escTituloMenu ul{ display: none; }
.escTituloMenu a:hover{ color:blue; }
.escTituloMenu a i:after{ 
  content: "\f00c"; 
  font-family: FontAwesome;
  font-size:1.5em
}  
.escItemMenu{
  margin-left:-20;
  list-style:none;
  cursor: hand;
  padding:0.7em;
  box-shadow:1px 1px 1px 1px;
  width: 250px;
  background-color: #a6e1ec;
  color:black;
  position:relative;
}
.escItemMenu:hover{ background-color:#E6F6F5; }
.mostra{
  animation: show 500ms linear;
  animation-fill-mode: forwards;    
}  
.esconde{
  animation: hide 500ms linear;
  animation-fill-mode: forwards;    
}
.menuEsc{  
  width:100px;
  height:50px;
  margin-left:100px;
  margin-top:1.4em;
  position:relative;
  font-size:1.4em;
  background-color: white;
  float:left;
}
.divBotao{
  height:5em;
  padding:0.1em;
  position:static;
}  
.divBotao div{
  white-space: nowrap;
  top: 0px;
  border-radius: 4px;
  position: relative;
  border: none;
  background: #f0f0f0;
  font-family: 'Roboto', sans-serif;
  width: 8em;
  cursor: pointer;
  padding-top:1em;
  padding-bottom:1em;
  transition: 0.1s all ease;
  font-size: 1.4em;
  font-weight: 300;
  color: #777;
  border-bottom: 1px solid #ccc;
  box-shadow: 0px 0px 0px 0px #B8B8B8;
  float:left;
  text-align: center;
  margin-right: 0.2em;
}
.divBotao div:focus {
  outline: 0;
}
.divBotao div:hover {
  background-color: #f5f5f5;
  top: -2px;
  border-bottom: 4px solid #ccc;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.20);
  font-weight: bold;
}
.divBotao div:active {
  top: 0px;
  border: 1px solid #ccc;
  background-color: #ededed;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.15);
}
.cssTreeviewContainer {
  margin: 15px auto 0 10px;
  width: 300px;
  background: #f5f5f5;
  padding: 15px;
  border-radius: 5px;
  border: solid 2px #777;
  box-shadow: 0 0 5px #333;
  float:left;
}
.cssTreeviewh1{
  margin: 0 0 10px;
  
}
.cssTreeview ul,
.cssTreeview li{
    padding: 0;
    margin: 0;
    list-style: none;
}
.cssTreeview input{
    position: absolute;
    opacity: 0;
}
.cssTreeview{
    user-select: none;
    font-size: 1.5em;
}
 .cssTreeview a{
    color: #35d;
    text-decoration: none;
}
.cssTreeview a:hover{ text-decoration: underline; }
 .cssTreeview input + label + ul{ margin: 0 0 0 22px; }
 .cssTreeview input ~ ul{ display: none; }
.cssTreeview label,
.cssTreeview label::before{ cursor: pointer; }
 
.cssTreeview input:disabled + label{
    cursor: default;
    opacity: .6;
}
.cssTreeview input:checked:not(:disabled) ~ ul{ display: block; }
.cssTreeview label,
.cssTreeview a,
.cssTreeview label::before{
    display: inline-block;
    height: 18px;
    line-height: 20px;
    vertical-align: middle;
}
.cssTreeview label::before{
    content: "";
    width: 16px;
    margin: -8px 8px 0 0;
    vertical-align: middle;
    background: url("../imagens/folder.gif");
}
.cssTreeview input:checked + label::before{ background: url("../imagens/folderopen.gif");}

  
*/